GROQ_API_KEY=your_groq_api_key_here

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=studyguide_ai

META_VERIFY_TOKEN=your_meta_verify_token_here
META_ACCESS_TOKEN=your_meta_access_token_here
META_PHONE_NUMBER_ID=your_meta_phone_number_id_here
META_WABA_ID=your_meta_waba_id_here

GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/your_apps_script_deployment_id/exec
